 <h2 style="margin-top: 2%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;"><b> ກ່ຽວກັບເວັບໄຊທ໌</b>
  </h2>
  
  <div style="border-left: 5px solid #03b447; background-color: rgb(234, 236, 255); border-radius: 8px;"><p style="padding-top: 15px; padding-bottom: 15px;">


    &nbsp &nbsp &nbsp ສະບາຍດີ, ພວກເຮົາ “ເຫວີຍສຽວ” ທີ່ຂຽນທັບສັບມາຈາກຄຳວ່າ "微笑" ໃນພາສາຈີນ ຫຼື ໃນຄວາມໝາຍພາສາລາວທີ່ແປວ່າ 
    “ຮອຍຍິ້ມ” ພວກເຮົາສ້າງທຸກຢ່າງຂຶ້ນມາຍ້ອນມີຄວາມຕັ້ງໃຈທີ່ຈະສົ່ງເສີມການອ່ານ, ເວົ້າ ແລະ ຂຽນພາສາລາວລວມໄປເຖິງການພັດທະນາ ແລະ 
    ປັບປຸງພາສາລາວໃຫ້ດີຂຶ້ນພາຍໃຕ້ແນວຄິດແບບຄົນລຸ້ນໃໝ່. ສຳລັບເວັບໄຊທ໌ນີ້ແມ່ນສ້າງຂຶ້ນມາເພື່ອລວບລວມຂໍ້ມູນ 
    ແລະ ເປັນແຫຼ່ງດາວໂຫຼດໂຕປັບແຕ່ງພາສາລາວ ຫຼື Mod ພາສາລາວຂອງເກມຕ່າງໆທີ່ພວກເຮົາ ຫຼື ຊຸມຊົນເຮັດຂຶ້ນມາ. <br>ຂໍຝາກ "ເຫວີຍສຽວ" ໄວ້ໃນອ້ອມກອດຂອງທຸກຄົນແນ່ເດີ້, ບໍ່ວ່າເຈົ້າຈະຜ່ານຫຍັງມາພວກເຮົາຈະຍັງຄົງມອບຮອຍຍິ້ມໃຫ້ເຈົ້າສະເໝີ
    
    
    
    </p></div>
  
  <h2 style="margin-top: 2%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;"><b> Community </b></h2>
  <div class="row align-items-start">
    <div class="col" style="font-size:12pt; margin-top: 2%;">
      ສາມາດເຂົ້າຮ່ວມ Discord ເພື່ອຕິດຕາມການອັບເດດ ແລະ ແລກປ່ຽນຂໍ້ມູນນຳພວກເຮົາ👇
      <a href="https://discord.gg/PXksNNF3en" target="_blank"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044663693289463889/discord.png " style="width: 100%; margin-top: 2%;"></a>
      <hr> 
     ຕິດຕາມຜົນງານຕ່າງໆຂອງພວກເຮົາໄດ້ທາງ👇
      <a href="https://web.facebook.com/weixiaolaos" target="_blank"><img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044676557312110642/facebook.png" style="width: 100%; margin-top: 2%;"></a>
    </div>
    
    <div class="col d-none d-lg-block">
      <iframe style="padding-left: 50%;" src="https://discord.com/widget?id=1014432814537646080&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
     
    </div>
    </div>
  
  