 <h2 style="margin-top: 2%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;"><b> ກ່ຽວກັບເວັບໄຊ</b>
  </h2>
  
  <div style="border-left: 5px solid #03b447; background-color: rgb(234, 236, 255); border-radius: 8px;"><p style="padding-top: 15px; padding-bottom: 15px;">


    &nbsp &nbsp &nbsp ສະບາຍດີ, ພວກເຮົາແມ່ນ “ເຫວີຍສຽວ” ຫຼື ໃນຄວາມໝາຍພາສາລາວທີ່ແປວ່າ 
    “ຮອຍຍິ້ມ” ພວກເຮົາສ້າງຂຶ້ນເພື່ອສົ່ງເສີມການອ່ານ, ເວົ້າ ແລະ ຂຽນພາສາລາວ. ໂດຍນຳສະເໜີຜ່ານຮູບແບບສຶ່ວີດີໂອ,
     ໂພສທ໌, ຂ່າວສານ ແລະ ອື່ນໆ.  ເຊິ່ງເນື້ອຫາຫຼັກໆຂອງທາງເວັບແມ່ນຈະເນັ້ນກ່ຽວກັບວັດທະນະທຳຂອງປະເທດຈີນໃນສ
     ະຕາຍໜ້າຮັກໆລວມໄປເຖິງລາຍການຕ່າງໆທີ່ດັງໆໃນຈີນເພື່ອນຳມາແປໃຫ້ທຸກໆຄົນໄດ້ຮຽນຮູ້, ເຂົ້າໃຈກັບຄວາມເປັນຈີນໃຫ້
     ຫຼາຍຂຶ້ນ ແລະ ເປົ້າໝາຍສຳຄັນທີ່ສຸດຂອງພວກເຮົາທີ່ສ້າງເວັບນີ້ຂຶ້ນມານັ້ນກໍຄື: “ການສ້າງຮອຍຍິ້ມ” ໃຫ້ທຸກໆຄົນ. 😁
    
    
    
    </p></div>
  
  <h2 style="margin-top: 2%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;"><b> Community </b></h2>
  <div class="row align-items-start">
    <div class="col" style="font-size:12pt; margin-top: 2%;">
      ເຈົ້າສາມາດເຂົ້າຮ່ວມ Discord ເພື່ອເບິ່ງອັບເດດ ແລະ ແລກປ່ຽນຂໍ້ມູນຂ່າວສານນຳພວກເຮົາໄດ້👇
      <a href="https://discord.gg/PXksNNF3en" target="_blank"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044663693289463889/discord.png " style="width: 100%; margin-top: 2%;"></a>
      <hr> 
     ຕິດຕາມຜົນງານຕ່າງໆຂອງພວກເຮົາໄດ້ທາງ👇
      <a href="https://web.facebook.com/weixiaolaos" target="_blank"><img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044676557312110642/facebook.png" style="width: 100%; margin-top: 2%;"></a>
    </div>
    
    <div class="col d-none d-lg-block">
      <iframe style="padding-left: 50%;" src="https://discord.com/widget?id=1014432814537646080&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
     
    </div>
    </div>
  
  