  <!-- ດາວໂຫລດ Mod --> <!-- ດາວໂຫລດ Mod --> <!-- ດາວໂຫລດ Mod --> <!-- ດາວໂຫລດ Mod -->
  <div>
    <h2 style="margin-top: 2%; pointer-events: none;" id="download_title">
      <img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;">
      <b> ດາວໂຫລດMod</b>
    </h2>
    
    <p>⚠️ສະເພາະເວັບໄຊຈະໂຫລດໄດ້ພຽງ Font: " Noto sans " ທ່ານສາມາດ ດາວໂຫລດ Font ອື່ນໆ. ໄດ້ທີ່ Discord: <a href="https://discord.gg/PXksNNF3en" class="hover" target="_blank"> ໄປທີ່ Discord >> </a></p>
    <div style="display: flex; justify-content: center ;">
    
    <a style="width: 40%; display: flex; justify-content: center; margin-top: 2%;" id="url-link">
      <img src="https://cdn.discordapp.com/attachments/898893230928711750/1044575462837456976/btn1.png" alt="btn1" id="download" width="100%">
    </a>
    </div>
    </div>
    </div>