
  <link rel="stylesheet" href="../css/style.css">

<!-- ວິທີຕິດຕັ້ງMod ພາສາລາວ --><!-- ວິທີຕິດຕັ້ງMod ພາສາລາວ --><!-- ວິທີຕິດຕັ້ງMod ພາສາລາວ --><!-- ວິທີຕິດຕັ້ງMod ພາສາລາວ -->
<h2 id="installmod" style="margin-top: 5%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;"><b> ວິທີຕິດຕັ້ງMod ພາສາລາວ</b></h2>

<p style="margin-top: 5%;">1. ເຂົ້າເກມ ແລ້ວໄປທີ່ <b>Options > Game Options > Other </b> ແລ້ວກົດຕິ໊ກຖືກ ✅ <b>Enable Custom content and mods </b> ຫຼັງຈາກນັ້ນໃຫ້ກົດ <b>Apply Changes</b> </p>
<div class="row align-items-start">
  <div class="col">
    <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640536604196954/img001.png" alt="img1" style="width: 100%;">
  </div>
  <div class="col">
    <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640536889401516/img002.png" alt="img2" style="width: 100%;">
  </div>


  <p style="margin-top: 5%;">2. ກົດ Copy ຫຼື Cut ໄຟຣ໌ທີ່ເຮົາດາວໂຫລດມາ ແລ້ວໄປທີ່ <b> Documents > Electronic Arts > The Sims 4 > Mods </b>ແລ້ວກົດວາງ</p>

  <div class="row align-items-start">
    <div class="col">
      <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640537191403520/img003.png" alt="img3" style="width: 100%;">
    </div>
    <div class="col">
      <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640537493389382/img004.png" alt="img4" style="width: 100%;">
    </div>
</div>
<p></p>
  <div class="row align-items-start">
    <div class="col">
      <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640537799565314/img005.png" alt="img5" style="width: 100%;">
    </div>
    <div class="col">
      <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640538072207360/img006.png" alt="img6" style="width: 100%;">
    </div>
</div>

<p></p>
    <div class="row align-items-start">
      <div class="col">
        <img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640538349027338/img007.png" alt="img7" style="width: 49.2%;">
      </div>
      </div>



<p style="margin-top: 5%;">3. ຫຼັງຈາກນັ້ນກົດເຂົ້າເກມແລ້ວຫຼີ້ນໄດ້ເລີຍ! 😀ຂໍ້ໃຫ້ມ່ວນ🎮</p>
<img src="https://cdn.discordapp.com/attachments/1044628437916192849/1044640538642620466/img008.png" alt="img8" style="width: 100%; border-radius: 2%;">
</div>