
<!-- ອັບເດດສະຖານະ --><!-- ອັບເດດສະຖານະ --><!-- ອັບເດດສະຖານະ --><!-- ອັບເດດສະຖານະ -->

<h2 id="status" style="margin-top: 5%; pointer-events: none;"><img src="https://media.discordapp.net/attachments/1044628437916192849/1044646354904940594/icon.png" alt="img8" style="height: 25pt;">
<b> ສະຖານະການແປ</b></h2>
<p style="margin-top: 2%; font-size: 15pt;">ຕົວເກມຫຼັກ 35%</p>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar"
  style="width: 35%" aria-valuenow="50"
  aria-valuemin="0" aria-valuemax="100">
</div>
</div>

<p style="margin-top: 2%; font-size: 15pt;">ອັບເດດ</p>
<p>
  <ul>
    <i style="font-size: 15pt;"><b>v201122n</b></i>
  <ul style="font-size:12pt ;">


  <li>ແປຂໍ້ຄວາມສະແດງຕໍ່ເຫດການທີ່ເຮັດ ຫຼື ເກີດຂຶ້ນຫຼັງເລີກວຽກ/ເລີກຮຽນເພີ່ມຕື່ມ (ບໍ່ແນ່ໃຈວ່າສະແດງຢູ່ສ່ວນໃດ ຫຼື ຕອນໃດ)</li>
  <li>ແປຂໍ້ຄວາມແອັບສັງຄົມກະຕ່າຍ (Social Bunny)</li>
  <li>ແປຄຳສັ່ງກ່ຽວກັບເດັກໄວຮຽນຍ່າງເພີ່ມຕື່ມ</li>
  <li>ແປກ່ຽວກັບພິທີແຕ່ງງານ</li>
  <li>ແປຄວາມຮູ້ສຶກຈາກການເລີກວຽກ ຫຼື ເລີກຮຽນເຊັ່ນ: ມີຄວາມສຸກ, ທຸກ, ມີແຮງບັນດານໃຈ, ຄຽດຈາກວຽກ ແລະ ອື່ນໆ</li>
  <li>ແກ້ຄຳຜິດເພີ່ມຕື່ມ</li>
  
  </ul></ul>
</p>